
@{
    Layout = null;
    if (Session["UserName"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeIndex</title>
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
    <div class="body">
        <header class="header-container">
            @Html.ActionLink("Logout", "Logout")
        </header>
        <div class="body-container">
            <div class="left-menu">
                @Html.ActionLink("Product List", "ProductList")
                @Html.ActionLink("Add Product", "ProductAdd")
            </div>
            <div class="main-div">
                <h1>Hello There,</h1>&nbsp;&nbsp;&nbsp; <span>@Session["UserName"]</span>
            </div>
        </div>
    </div>
</body>
</html>