@model IEnumerable<MVC_Product_management_Project.Models.mvcProduct>

@{
    Layout = null;
    if (Session["UserName"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <style>
        a {
            text-decoration: none;
            color: black;
            font-size: 15px;
        }


        .thead-dark {
            background-color: black;
            color: white;
        }

        .table {
            width: 1200px;
        }

        .table-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

    <div class="table-container">

        <table class="table">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Short_Description)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Long_Description)
                    </th>
                    <th scope="col"></th>
                   <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {

                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Short_Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Long_Description)
                        </td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-outline-info"> @Html.ActionLink("Edit", "Create", new { id = item.Id }) </button>
                            &nbsp;&nbsp; <button type="button" class="btn btn-outline-danger" onclick="Delete(@item.Id)"> Delete</button>
                        </td>
                    </tr>

                }
                <tr></tr>

            </tbody>

        </table>
        <div>
            <button type="button" class="btn btn-outline-success" onclick="location.href ='@Url.Action("Create", "Products")'">Create A Product</button>
            &nbsp;&nbsp; &nbsp;<button type="button" class="btn btn-outline-primary" onclick="location.href ='@Url.Action("HomeIndex", "Home")'">Back to Dashboard</button>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Product Management','Are You Sure to Delete this Record?',function(){
                window.location.href  = '@Url.Action("Delete","Products")/'+id;
            },null );
        }
    </script>
</body>
</html>
